# Reto pandas SUP-05

Dataset de información de clientes.

Primero importa tu(s) librerías con las cuáles trabajarás

In [6]:
import pandas as pd

Instancia tu dataset como el objeto principal con el que trabajaras acorde a la librería

In [7]:
df = pd.read_csv('./clientes.csv')

Ahora cumple los siguientes retos, tú puedes...

## Exploración de dataset

Cuántas columnas y cuántos registros tiene?

In [8]:
df.shape

(1000, 7)

Informa la cantidad de columnas con datos de tipo entero

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1000 non-null   int64
 1   first_name  976 non-null    object
 2   last_name   976 non-null    object
 3   email       976 non-null    object
 4   gender      976 non-null    object
 5   country     976 non-null    object
 6   age         976 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 54.8+ KB

Cuántos datos nulos tiene cada columna ?

In [10]:
df.isnull().sum()

id             0
first_name    24
last_name     24
email         24
gender        24
country       24
age           24
dtype: int64

Informa la cantidad de registros sin  tener en cuenta aquellos con valores faltantes en el campo last_name, da el resultado en un dato tipo entero.

In [17]:
df['last_name'].notnull().sum()

976

## Transformación

Manos a la obra, a limpiar datos ;)

Si la columna de edad tiene valores nulos , vamos a rellenar esos valores nulos por el promedio de edad según el género.

Ahora eliminemos todos los registros que aún tengan datos nulos en cualquier columna

In [ ]:
df.dropna()

Elimina todos los registros duplicados

In [27]:
df.drop_duplicates()

,id,first_name,last_name,email,gender,country,age
0,1,Sephira,MacAirt,smacairt0@army.mil,Female,Netherlands,50.0
1,2,Gottfried,Degoy,gdegoy1@huffingtonpost.com,Male,Latvia,19.0
2,3,Dewie,Denys,ddenys2@reuters.com,Male,China,28.0
3,4,Isac,Gounel,igounel3@go.com,Male,Brazil,85.0
4,5,Hernando,Mc Carrick,hmccarrick4@japanpost.jp,Male,Armenia,58.0
...,...,...,...,...,...,...,...
995,996,Dorothy,King,dkingrn@diigo.com,Female,Philippines,25.0
996,997,Lev,Tandey,ltandeyro@discuz.net,Male,Japan,76.0
997,998,Kelsy,Lambol,klambolrp@epa.gov,Female,Russia,54.0
998,999,Luella,Krienke,lkrienkerq@washington.edu,Female,Indonesia,71.0
999,1000,Lorin,Miller,lmillerrr@nhs.uk,Polygender,Indonesia,18.0

Cambiemos todos los datos con valor tipo string a minúscula

In [20]:
df.applymap(lambda x: x.lower() if type(x) == str else x)

,id,first_name,last_name,email,gender,country,age
0,1,sephira,macairt,smacairt0@army.mil,female,netherlands,50.0
1,2,gottfried,degoy,gdegoy1@huffingtonpost.com,male,latvia,19.0
2,3,dewie,denys,ddenys2@reuters.com,male,china,28.0
3,4,isac,gounel,igounel3@go.com,male,brazil,85.0
4,5,hernando,mc carrick,hmccarrick4@japanpost.jp,male,armenia,58.0
...,...,...,...,...,...,...,...
995,996,dorothy,king,dkingrn@diigo.com,female,philippines,25.0
996,997,lev,tandey,ltandeyro@discuz.net,male,japan,76.0
997,998,kelsy,lambol,klambolrp@epa.gov,female,russia,54.0
998,999,luella,krienke,lkrienkerq@washington.edu,female,indonesia,71.0
999,1000,lorin,miller,lmillerrr@nhs.uk,polygender,indonesia,18.0

Los correos están horribles y no nos servirán de mucho, eliminemoslos ;)

In [22]:
df.drop("email", axis=1)

       id first_name   last_name      gender      country   age
0       1    Sephira     MacAirt      Female  Netherlands  50.0
1       2  Gottfried       Degoy        Male       Latvia  19.0
2       3      Dewie       Denys        Male        China  28.0
3       4       Isac      Gounel        Male       Brazil  85.0
4       5   Hernando  Mc Carrick        Male      Armenia  58.0
..    ...        ...         ...         ...          ...   ...
995   996    Dorothy        King      Female  Philippines  25.0
996   997        Lev      Tandey        Male        Japan  76.0
997   998      Kelsy      Lambol      Female       Russia  54.0
998   999     Luella     Krienke      Female    Indonesia  71.0
999  1000      Lorin      Miller  Polygender    Indonesia  18.0

[1000 rows x 6 columns]

Cambia el orden de las columnas, primero apellido y luego nombre

In [25]:
df.reindex(columns=["id", "last_name", "first_name", "email", "gender", "country", "age"])

,id,last_name,first_name,email,gender,country,age
0,1,MacAirt,Sephira,smacairt0@army.mil,Female,Netherlands,50.0
1,2,Degoy,Gottfried,gdegoy1@huffingtonpost.com,Male,Latvia,19.0
2,3,Denys,Dewie,ddenys2@reuters.com,Male,China,28.0
3,4,Gounel,Isac,igounel3@go.com,Male,Brazil,85.0
4,5,Mc Carrick,Hernando,hmccarrick4@japanpost.jp,Male,Armenia,58.0
...,...,...,...,...,...,...,...
995,996,King,Dorothy,dkingrn@diigo.com,Female,Philippines,25.0
996,997,Tandey,Lev,ltandeyro@discuz.net,Male,Japan,76.0
997,998,Lambol,Kelsy,klambolrp@epa.gov,Female,Russia,54.0
998,999,Krienke,Luella,lkrienkerq@washington.edu,Female,Indonesia,71.0
999,1000,Miller,Lorin,lmillerrr@nhs.uk,Polygender,Indonesia,18.0

Por último , asegúrate que la edad esté en dato tipo integer

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

## Hora de insights...

¿Cuántas personas son de España? retorna en dato tipo entero

¿De cuántos países diferentes son los clientes? retorna dato de tipo entero

¿Cuál es el país con mayor cantidad de clientes?

Ordenando los países por orden alfabético , cuál es el último país?

Cuál es el nombre más común de hombre y cuál de mujer ?

Qué país tiene el promedio de edad más alto de mujeres?

Qué país tiene el promedio de edad más bajo de hombres ?

Por último crea una nueva columna de edad dada en meses donde sus valores sea la edad de clientes dada en meses, suponiendo que todos tienen años recién cumplidos :D

¡Felicidades campeona/campeón, lo has logrado!

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=737b881c-1e45-41af-a07d-909f1f5a2bca' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>